.form {
  background-color: var(--color-bg-primary);
  padding: 20px 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  & > h1 {
    color: var(--color-text-primary);
    font-size: var(--text-size-title-md);
    margin-bottom: 10px;
  }
  & > * {
    margin-bottom: 8px;
  }
}
.error {
  font-size: 14px;
  color: var(--color-error);
  margin-bottom: 8px;
}
.loading {
  height: 41px;
}